<section class="container">
  <div class="container__form" class="content" *ngIf="toggleForms; else recover_form">
    <img src="assets/logo_red.svg" width="100" height="100">
    <h1>Recuperar contraseña</h1>
    <p>Ingresa tu email para recibir el código de recuperación</p>
    <app-dinamic-form [formData]="sendCodeFormConfig" (formSubmit)="sendCode($event)"></app-dinamic-form>
  </div>
  <ng-template #recover_form>
    <div class="container__form" class="content" >
      <img src="assets/logo_red.svg" width="100" height="100">
      <h1>Recuperar contraseña</h1>
      <p>Llena la información para recuperar tu contraseña.</p>
      <app-dinamic-form [formData]="recoverFormConfig" (formSubmit)="resetPassword($event)"></app-dinamic-form>
      <p>¿Problemas con tu código? <u class="forgo-pass" (click)="toggleViews()">regresa</u> y vuelve a solicitarlo.</p>
    </div>
  </ng-template>
</section>
