<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Crear columnas dinámicamente -->
    <ng-container *ngFor="let column of columnsConfig">
      <ng-container [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="hasOptions" matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu">
          <ng-container *ngFor="let opt of optionsData">
            <button mat-menu-item (click)="emitOptionsEvent(opt.id,element)">{{opt.label}}</button>
          </ng-container>
        </mat-menu>
      </td>
    </ng-container>


    <!-- Definir las columnas -->
    <ng-container *ngIf="hasOptions;else hasNoOptions" >
      <tr mat-header-row *matHeaderRowDef="columnKeys.concat('options')"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys.concat('options');"></tr>
    </ng-container>
    <ng-template #hasNoOptions>
      <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys;"></tr>
    </ng-template>
    
  </table>

  <mat-paginator *ngIf="hasPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of data">
  </mat-paginator>
</div>
