<mat-toolbar class="mat-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="menu-items-container">
        <div class="logo-name">
          <img src="../../../assets/logo-amigosaca.png" width="40" height="40" alt="Logo amigos académicos"/>
          <h2><b>Amigos académicos</b> </h2>
        </div>
        <button (click)="logout()" title="Salir" mat-icon-button aria-label="salir" matTooltip="Salir">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>