@import "../../../variables";

.dinamic-view{
    @media (max-width: 767px) {
        width: 100vw;
    }
    
}

.scrollable{
    @media (max-width: 767px) {
        overflow: auto;
        width: 100vw;
    }
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 7vh;
}
.content{
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: $white;
    gap: 20px;
    padding: 20px;
    min-width: min-content;
    -webkit-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
    @media (max-width: 767px) {
        padding: 20px 0;
    }
    &__welcome{
        display: flex;
        max-width: 800px;
        flex-direction: column;
        align-items: center;
        &__title{
            text-align: center;
            font-size: 2rem;
        }
        &__desc{
           text-align: center;
        }
        &__logo-title{
            text-align: center;
            color: $red;
            font-size: xx-large;
        }
    }
}
.assignincompleted{
    color: $red;
}
.assigncompleted{
    color: #30613F;
}
.warning{
    color: rgb(255, 166, 0);
    padding: 10px;
    text-align: center;
}