.report-card {
    border-radius: 20px;
    box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.wide-item {
    grid-column: span 2;
}

// .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto auto; /* Añadimos una columna más */
//     grid-template-rows: repeat(3, auto);
//     grid-gap: 10px;
//     margin: 20px;
// }

// .grid-item {
//     padding: 10px;
//     text-align: left;
// }

// .full-width {
//     grid-column: span 3;
// }

// .descargar {
//     grid-row: span 1;
// }

// .download-button{
//     background: rgb(251,8,8);
//     background: linear-gradient(205deg, rgba(251,8,8,1) 0%, rgba(198,40,40,1) 48%, rgba(92,19,19,1) 100%);
//     border: none;
//     color: white;
//     height: auto;
//     padding: 10px;
//     border-radius: 10px;
//     &:hover{
//         cursor: pointer;
//         box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
//     }

// }