@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-red, 800);
$accent: mat-palette($mat-red, 600);
$warn: mat-palette($mat-red, 900);

$my-theme: mat-light-theme((color:(primary:$primary,
                accent:$accent,
                warn:$warn ),
        ));
@include angular-material-theme($my-theme);